{% extends 'base.html' %}
{% block title %}
  Register | JobBoard
{% endblock %}
{% block content %}
  <form method="post" class="form-panel narrow">
    {{ form.hidden_tag() }}<h1>Create your account.</h1>{% for field in [form.name, form.email, form.password, form.confirm_password] %}
      <div class="mb-3">
        {{ field.label(class='form-label') }}{{ field(class='form-control') }}{% for error in field.errors %}
          <small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
    {% endfor %}{{ form.submit(class='btn btn-dark') }}
  </form>
{% endblock %}
